<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30001">
        <setting label="30002" type="select" id="default_source" default="0" lvalues="301|302|303|304|305|306|307|308|309|310|311|312|313"/>
        <setting label="30003" type="select" id="default_quality" default="2" lvalues="321|322|323|324|325"/>
    </category>

    <category label="340">
        <setting label="30004" type="bool" id="cache_enabled" default="true"/>
        <setting label="Cache Expiration Time" type="enum" id="cache_expire_time" default="24" lvalues="350|351|352|353|354|355"/>
        <setting label="341" type="bool" id="auto_clear_cache" default="true"/>
    </category>
</settings>
