<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="常规">
        <setting label="默认音乐源" type="select" id="default_source" default="0" lvalues="301|302|303|304|305|306|307|308|309|310|311|312|313"/>
        <setting label="默认音质" type="select" id="default_quality" default="2" lvalues="321|322|323|324|325"/>
        <setting label="启用缓存" type="bool" id="cache_enabled" default="true"/>
        <setting label="缓存过期时间（天）" type="number" id="cache_days" default="7"/>
    </category>
</settings>
